@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 24px;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator__container {
  font-family: "Roboto", sans-serif;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  height: 500px;
  width: 300px;
  text-align: center;
  border: 3px solid #201f20;
  background-color: #434343;
  border-radius: 10px;
}

.calculator__container__results {
}
.calculator__container__keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(60px, auto);
}
input[type="text"] {
  margin-bottom: 20%;
  height: 120px;
  width: 100%;
  background-color: #292929;
  border: 0px;
  color: #e66c74;
  text-align: right;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2px;
}
#clear {
  grid-column: 1/3;
  grid-row: 1;
}
#result {
  grid-column: 3/5;
  grid-row: 5;
}
button {
  margin: 5px;
  border: none;
  border-radius: 250px;
  cursor: pointer;
  background: transparent;
  color: #fff;
  font-weight: 500;
}
input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}
.highlight {
  background-color: #5f5f5f;
  color: #e66c74;
}
